<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DISH</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>STATUS</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d : ${dish}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>
        <td th:text="${d.price}"></td>

        <td th:text="${d.isAvailable ? 'Con hang' : 'Het hang'}"></td>
        <td>
            <a th:href="@{|/update/${d.id}|}">SUA</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>